.article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100vw;
        max-width: 500px;
    }

    .tit {
        transform: translateY(-5px);
        width: 70vw;
        max-width: 400px;
        margin: 0 15vw;
        background-color: white;
        text-align: center;
    }
}