.article{
    margin-bottom: 20px;
    img{
        width: 100vw;
    }

    .tit{
        transform: translateY(-5px);
        width: 70vw;
        margin: 0 15vw;
        background-color: white;
        text-align: center;
    }
}