.header {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .header {
        position: relative;
        height: 80px;
        z-index: 999;

        img {
            height: auto;
            width: 40vw;
            max-width: 251px;
        }

        .desktop-menu {
            .link {
                display: none;
            }
        }

        .img-wrapper {
            text-align: center;
        }

        .burger-menu {
            position: absolute;
            top: 25%;
            padding-left: 20px;

            svg {
                width: 25px;
                fill: white;
            }

            .menu {
                background-color: black;
                position: absolute;
                left: -100vw;
                width: 100vw;
                height: 100vh;

                a {
                    text-decoration: none;
                    color: #575757;
                    display: flex;
                    justify-content: center;

                    h1 {
                        margin: 0;
                        font-size: xxx-large;
                        width: fit-content;
                    }
                }

                .link {
                    margin: 10px 0;
                    padding: 17% 0;
                    text-align: center;
                }

                transition: all 450ms;
            }

            .menu-showing {
                left: 0;
            }

        }
    }

}